  <!-- 插入 youtube 連結 -->
    <!-- <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dAB4zlf0COE" allowfullscreen></iframe>
    </div> -->

  <div class="row"> <!--讓背景左右到底-->

    <!-- 首頁 -->
    <section id="home" class="sec-main">
        <h1 class="main-heading">找到屬於你的amiibo公仔！</h1>
    </section>


    <section id="about" class="sec-about">
      <div class="container">
        <h1>關於"公仔專賣店""</h1>

        <hr />

        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <p>希望熱愛任天堂的夥伴們人手都擁有amiibo公仔！<br>
              不了解的人也能透過amiibo來了解任天堂遊戲的魅力！
          </div>
        </div>
      </div>
    </section>
    <section id="services" class="sec-services">
      <div class="container">
        <h1>功能</h1>

        <hr />

        <div class="row">
          <div class="col-sm-4">
            <i class="fa fa-4x fa fa-check"></i>

            <h2 class="h3">點觸以連繫各式各樣遊戲</h2>

            <p>將amiibo點觸主機進行連動後，amiibo或許會作為角色在遊戲中登場，
              又或是能獲取特別的道具等。1個amiibo能連繫遊戲中各式各樣的遊玩方式</p>
          </div>

          <div class="col-sm-4">
            <i class="fa fa-4x fa fa-user-o"></i>

            <h2 class="h3">角色在遊戲中登場</h2>

            <p>例如在《Splatoon™ 2》<br>
            amiibo會作為「支持者」在遊戲中以你喜愛的打扮登場並提供協助，也能一起拍攝紀念照片</p>
          </div>

          <div class="col-sm-4">
            <i class="fa fa-4x fa fa-birthday-cake"></i>

            <h2 class="h3">獲得角色的道具或能力</h2>

            <p>例如在《薩爾達傳說 曠野之息》<br>
              能獲得角色的道具</p>
          </div>
        </div>
      </div>
    </section>

    <section id="categories">
  		<div class="container">
  			<h1>分類</h1>

        <hr />
  			<div class="row">
  				<div class="col-sm-6 col-md-3">
  			    <div class="thumbnail">
  			      <%= image_tag("總覽.png") %>
  			      <div class="caption">
                <h4><%= link_to("總覽", products_path(:order => "by_recent")) %></h4>
  			      </div>
  			    </div>
  			  </div>

  			  <div class="col-sm-6 col-md-3">
  			    <div class="thumbnail">
  			      <%= image_tag("kirby.png") %>
  			      <div class="caption">
  			        <h4><%= link_to("星之卡比", kirby_products_path(:order => "by_recent")) %></h4>
  			      </div>
  			    </div>
  			  </div>

  			  <div class="col-sm-6 col-md-3">
  			    <div class="thumbnail">
  			      <%= image_tag("monster_hunter.jpeg") %>
  			      <div class="caption">
  			        <h4><%= link_to("魔物獵人", monster_hunter_products_path(:order => "by_recent")) %></h4>
  			      </div>
  			    </div>
  			  </div>

  				<div class="col-sm-6 col-md-3">
  			    <div class="thumbnail">
  			      <%= image_tag("super_smash_bros.png") %>
  			      <div class="caption">
  			        <h4><%= link_to("任天堂明星大亂鬥", super_smash_bros_products_path(:order => "by_recent")) %></h4>
  			      </div>
  			    </div>
  			  </div>
  			</div>
  			<div class="row">
  				<div class="col-sm-6 col-md-3">
  			   <div class="thumbnail">
  			      <%= image_tag("super_mario.png") %>
  			      <div class="caption">
  			        <h4><%= link_to("超級馬力歐", super_mario_products_path(:order => "by_recent")) %></h4>
  			      </div>
  			    </div>
  			  </div>

  			  <div class="col-sm-6 col-md-3">
  			    <div class="thumbnail">
  			      <%= image_tag("splatoon.png") %>
  			      <div class="caption">
  			        <h4><%= link_to("斯普拉頓", splatoon_products_path(:order => "by_recent")) %></h4>
  			      </div>
  			    </div>
  			  </div>

  			  <div class="col-sm-6 col-md-3">
  			    <div class="thumbnail">
  			      <%= image_tag("zelda_botw.png") %>
  			      <div class="caption">
  			        <h4><%= link_to("薩爾達傳說 曠野之息", zelda_botw_products_path(:order => "by_recent")) %></h4>
  			      </div>
  			    </div>
  			  </div>

  				<div class="col-sm-6 col-md-3">
  			    <div class="thumbnail">
  			      <%= image_tag("animal_crossing.png") %>
  			      <div class="caption">
  			        <h4><%= link_to("動物森友會", animal_crossing_products_path(:order => "by_recent")) %></h4>
  			      </div>
  			    </div>
  			  </div>
  			</div>
  		</div>

  	</section>


    <section id="testimonials" class="sec-testimonials">
      <div class="container">
        <h1>各界好評</h1>

        <hr />

        <div class="row">
          <div class="col-sm-4">
            <p class="text-center">"公仔專賣店"公仔種類眾多，價格公道！</p>

            <p class="text-right">&mdash; 阿明</p>
          </div>

          <div class="col-sm-4">
            <p class="text-center">找不到當初沒買到的公仔嗎？來這裡就對了！</p>

            <p class="text-right">&mdash; 小美</p>
          </div>

          <div class="col-sm-4">
            <p class="text-center">"買到好看的公仔又能得到虛擬寶物，cp值很高"</p>

            <p class="text-right">&mdash; 冰淇淋</p>
          </div>
        </div>
      </div>
    </section>
</div>
