<div class="btn-group" role="group">
  <%= link_to kirby_products_path do  %>
  <button type="button" class="btn btn-default">總覽</button>
  <% end %>
</div>

<div class="container-fluid jobs-show-page">
  <div class="col-md-10 col-md-offset-1 col-lg-9 col-lg-offset-2">
    <div class="dropdown clearfix pull-right"><br>
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="true">Filter
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuDevider">
        <li>
          <%= link_to("降序排列", kirby_products_path(:order => "by_higher_price")) %>
        </li>
        <li>
          <%= link_to("升序排列", kirby_products_path(:order => "by_lower_price")) %>
        </li>
        <li>
          <%= link_to("照日期排列", kirby_products_path) %>
       </li>
      </ul>
    </div><br>
  </div>
</div>




<div class="row">
  <% @products.each do |product| %>
    <div class="col-xs-6 col-md-3">
      <%= link_to product_path(product) do %>
        <% if product.image.present? %>
          <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
        <% end %>
      <% end %>
      <%= product.title %> ￥ <%= product.price %>
    </div>
  <% end %>
</div>
